include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
recursive-include municipios/static *
recursive-include municipios/templates *
recursive-include municipios/fixtures *
recursive-include municipios/sql *

